* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    background: #3b5999;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.word-display {
    margin-top: 3rem;
    font-size: 80px;
    color: #3b5999;
}
.word-input-box {
    margin-top: 2rem;
}
.word-input {
    padding: 0.5rem;
    width: 300px;
}
.game-info {
    margin-top: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.time,
.score {
    font-size: 30px;
}

.button {
    width: 200px;
    height: 35px;
    background: #3b5999;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 3rem;
}
.loading {
    background-color: #ccc;
    cursor: not-allowed;
}
.setting-toggle {
    cursor: pointer;
    background: #fff;
    border: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.5s;
}
.setting-toggle:hover {
    background: dodgerblue;
    color: #fff;
}


.setting-wrap {
    visibility: hidden;
    margin-top: 20px;
    border: 1px solid #dbdbdb;
    padding: 20px 40px;
    box-shadow: 0 0 10px #111;
    opacity: 0;
    transition: 0.5s;
}

.setting-wrap.active {
    visibility: visible;
    opacity: 1;
}